.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}

.container-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form form input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

.container-form form input:focus {
    border: 1px solid #333;
}

.container-form form button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}